.hero {
    overflow: hidden;
}

.hero__img {
    width: 130%;
    display: block;
    margin: 2em 0;
}

.hero__text {
    margin: 1em;
    text-align: center;
}

.hero__text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: .5em;
}

.hero__text p {
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
    color: var(--gray-violet);
}

.hero__btn {
    font-size: 1.125rem;
    padding: .9rem;
    border: 0;
    background-color: var(--cyan);
    border-radius: 30px;
    font-weight: bold;
    color: white;
    margin: auto;
    display: block;
    transition: opacity .2s ease;
}

.hero__btn:hover {
    opacity: .5;
}

@media (min-width: 620px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr .8fr;
        grid-column-gap: 1rem;
    }

    .wrapper {
        padding-left: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__img {
        order: 2;
    }

    .hero__text {
        text-align: start;
        max-width: 600px;
        margin-left: 0;
    }

    .hero__text p {
        margin: 0;
    }

    .hero__btn {
        display: inline-block;
        margin: 0;
        width: 200px;
    }

    .hero__img {
        max-width: 700px;
    }
}

@media (min-width: 1100px) {
    .wrapper {
        padding-left: 6rem;
    }

    .hero__text h1 {
        font-size: 3.5rem;
    }
}