*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gray-violet: hsl(257, 7%, 63%);
  --darker-blue: hsl(255, 11%, 22%);
  --darker-violet: hsl(260, 8%, 14%);
}

img {
  width: 100%;
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: rgb(250, 250, 250);
}